<!DOCTYPE html>
<html>
<head>
    <title>be cool</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="../static/bootstrap/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="../static/bootstrap/js/star-rating.min.js" type="text/javascript"></script>

</head>
<body background="http://fmn.rrfmn.com/fmn078/20160423/2015/large_5kqd_4c92000609851e7f.jpg">
<br><br><br>
<form name="reg" action="/cam_cal" method="post">
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    同学您好！首先欢迎您参与我们的在线实验，在实验开始前请您认真阅读下面的内容：<br>
                    1. 请您首先在下面的文本框中填写<b>本人</b>的<b>10位学号</b><br>
                    2. 在实验过程中，请认真阅读每一步的实验要求，并按照要求进行选择 <br>
                    3. 在实验过程中，<b>请不要刷新页面</b>，这样可能导致上一步的信息丢失<br>
                    4. 如果实验过程中出现问题，如页面加载不出等，请点击<b>浏览器后退按钮</b>返回上一步继续实验<br>
                    ps: 对于实验中出现的任何问题，欢迎您邮件联系gcmike@foxmail.com进行反馈<br>
                </h3>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><b>首先请填写您的学号</b></h3>
            </div>
            <div class="panel-body">
                <p><textarea class="form-control" rows="1" name="text_square"
                             style="margin:auto;width:200px"></textarea></p>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>本次实验中的商品主要为服装类，请您自己选择一个情景后，点击开始按钮进行实验</b><br>
                </h3>
            </div>
            <div class="panel-body">
                <div><label><input type="radio" name="options3" value="1"
                                   onclick="document.getElementById('reason').disabled = true">
                    给自己选，有明确的目标
                </label></div>
                <div><label><input type="radio" name="options3" value="2"
                                   onclick="document.getElementById('reason').disabled = true">
                    给自己选，没有明确的目标
                </label></div>
                <div><label><input type="radio" name="options3" value="3"
                                   onclick="document.getElementById('reason').disabled = true">
                    给家人/朋友选，有明确的目标
                </label></div>
                <div><label><input type="radio" name="options3" value="4"
                                   onclick="document.getElementById('reason').disabled = true">
                    给家人/朋友选，没有明确的目标
                </label></div>
                <div><label><input type="radio" name="options3" value="5"
                                   onclick="document.getElementById('reason').disabled = false">
                    其他(请您自己描述)
                </label></div>
                <p><textarea class="form-control" rows="1" id="reason" name="desc" style="width:300px"
                             disabled="disabled"></textarea></p>
            </div>
        </div>

        <div style="margin:auto;width:200px">
            <p><input class="btn btn-primary" type="button" onclick="check()" style="width:200px" value="开始"></p>
        </div>

    </div>
</form>

<style>
    .col-center-block {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .right {
        float: right;
        text-align: right;
    }
</style>
<script>
    $(function () {
        $("[data-toggle='tooltip']").tooltip();
    });
    function check() {
        if (reg.text_square.value == "") {
            alert("请填写您的学号");
        }
        else if (!reg.options3[0].checked && !reg.options3[1].checked
                && !reg.options3[2].checked && !reg.options3[3].checked && !reg.options3[4].checked) {
            alert("请给出您设想的购物场景");
        }
        else if (reg.options3[4].checked && reg.desc.value == '') {
            alert("请用一句话描述您设想的购物场景");
        }
        else {
            reg.submit()
        }
    }
</script>
</body>
</html>

