{% extends basehtml %}

{% block head %}
    {{ super() }}
    <title>be cool</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <link href="../static/bootstrap/css/star-rating.min.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="../static/bootstrap/js/star-rating.min.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <b>根据您的打分，以下是我们为您推荐的商品列表(顺序与推荐程度无关)</b><br>
                    请您根据自己<b>满意程度</b>，对<b>每个列表</b>进行打分
                </h3>
            </div>
        </div>
    </div>

    <form name="reg" action="/list diversity" method="post" id="logdata">
        <input name="student_id" type="hidden" value={{ student_id }}>
        <input name="gazedata" type="hidden" id="gdinput" value="">

        <div class="container">
            {% for tmplist in match %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>推荐列表{{ tmplist.list_id }}</b></h3>
                    </div>
                    <div class="panel-body">
                        {% for each in tmplist.list %}
                            <div class="col-xs-2" id="{{ each.itemID }}">
                                <div class="thumbnail" data-toggle="tooltip" data-placement="top"
                                     title="{{ each.name }}">
                                    <a href="{{ each.itemUrl }}" target="_blank"><img src="{{ each.imgUrl }}"></a>
                                    <div class="caption">
                                        <p style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{ each.name }}</p>
                                        <h5>{{ each.sim_value }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <th style="vertical-align: middle">
                                    <font size="4">您对这个推荐是否满意？请根据您的满意程度进行评分</font>
                                </th>
                                <th style="vertical-align: middle">
                                    <input name={{ tmplist.rec_method }} id=rec_list{{ tmplist.list_id }} type="number"
                                           class="rating" min=0 max=5 step=1 data-size="sm" value="0">
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
            <div style="margin:auto;width:200px">
                <p><input class="btn btn-primary" type="button" onclick="check()" style="width:200px" value="下一步"></p>
            </div>
            <br><br><br>
        </div>

    </form>
    <script>
        function check() {
            if (document.getElementById('rec_list1').value == 0) {
                alert("请对推荐列表1的满意度进行打分");
            }
            else if (document.getElementById('rec_list2').value == 0) {
                alert("请对推荐列表2的满意度进行打分");
            }
            else if (document.getElementById('rec_list3').value == 0) {
                alert("请对推荐列表3的满意度进行打分");
            }
            else if (document.getElementById('rec_list4').value == 0) {
                alert("请对推荐列表4的满意度进行打分");
            }
            else if (document.getElementById('rec_list5').value == 0) {
                alert("请对推荐列表5的满意度进行打分");
            }
            else if (document.getElementById('rec_list6').value == 0) {
                alert("请对推荐列表6的满意度进行打分");
            }
            else if (document.getElementById('rec_list7').value == 0) {
                alert("请对推荐列表7的满意度进行打分");
            }
            else {
                post2back();
            }
        }
    </script>
{% endblock %}