<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <script src="../static/js/heatmap.js" type="text/javascript"></script>
        <script>$(function () {
            $("[data-toggle='tooltip']").tooltip();
        });</script>
    {% endblock %}
    {% block style %}
        <style>.col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .right {
            float: right;
            text-align: right;
        }</style>
    {% endblock %}
</head>

<body background="http://fmn.rrfmn.com/fmn078/20160423/2015/large_5kqd_4c92000609851e7f.jpg">
<br><br><br>
<div id="heatmap" style="padding-left: 0px; padding-right: 0px">
    {% block body %}
    {% endblock %}
</div>
<script>
    window.onload = function () {
        var gaze_data = {{ gazelist|safe|escape }};
        var hm = $("#heatmap");

        var heatmapInstance = h337.create({
            container: document.querySelector('#heatmap'),
            width: hm.width(),
            height: hm.height()
        });
        var max = 10;
        var data = {
            max: max,
            data: gaze_data
        };
        heatmapInstance.setData(data);
    }
</script>
</body>
</html>